.delete {
  position: absolute;
  width: 21px;
  right: -5px;
  top: 0;
}
input {
  /* margin-top: 25px; */
  width: 242px;
  border-radius: 6px;

  /* position: absolute;     */
}
.submit {
  margin-top: 20px;
  width: 85px;
  background-color: rgb(99, 216, 248);
  border-color: rgb(99, 216, 248);
  border-radius: 6px;
  font-weight: 400;
  margin-bottom: 20px;
  border: 2px solid black;
}
body {
  background-color: rgb(182, 253, 187);
}
.podpis {
  font-size: 25px;
  font-weight: 900;
}
.input {
  position: relative;
  margin-top: 25px;
  width: 242px;
}
